body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;

}


.verticle-line {
    border-left: 5px solid tomato;
    height: 130px;
    padding: 20px;
    margin: 20px;

}

h1 {
    font-size: 2.5pc;
    color: black;
}

.expedition {
    color: greenyellow;
}

.Year {
    color: orange;
}

.top-banner {
    display: flex;
    margin-bottom: 200px;
}

.top-banner img {
    width: 50%;
}

.flexible-container {
    margin-bottom: 200px;
    align-items: center;
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-image: linear-gradient(100 deg orange tomato);
    background-color: orange;
    border-radius: 5px;
    font-weight: 700;
}

.link-button:hover {
    background-color: purple;
    color: violet;
    cursor: pointer;
    transition: 0.10s;
}

.mission-2022 {
    text-align: center;
    margin-top: 300px;

}

.Terget-2022 {
    color: royalblue;
}

.fest {
    color: orchid;
}

.road-to-developer {
    background-color: #CD2AF6;
    display: flex;
    justify-content: center;

}

.road-to-developer>div {
    width: 400px;
    font-size: 35px;
    margin: 10px;
    padding: 20px;

}

.road-to-developer img {
    width: 100%;
}

#first {
    background-color: tomato;
}

#second {
    background-color: lightsalmon;
}

#third {
    background-color: purple;
}

#Programming {
    color: lightgreen;
}

#Optimization {
    color: tomato;
}

#margin {
    margin-top: 200px;
}

.additional-skills-area img {
    width: 80%;
}

.Further-Skill {
    display: flex;
}

.dev-limit {
    background-image: url(./shape-1.png);
    background-repeat: no-repeat;
    padding-left: 30px;
}

.global {
    display: flex;
    background-image: url(./shape-1.png);
    background-repeat: no-repeat;
    background-position: bottom;
}